<div class="card-container" (click)="onVerOferta()" matRipple *ngIf="partner()">
  <div class="card-image">
    <img [src]="partner()?.imageUrl || 'assets/placeholder.jpg'" [alt]="partner()?.tradeName">
    <div class="card-badge">{{ benefit.discountPercentage }}% OFF</div>
  </div>
  <div class="card-content">
    <h3>{{ benefit.title }}</h3>
    <p class="card-address">{{ partner()?.location?.city }} - {{ partner()?.location?.state }}</p>
    <p class="card-partner">{{ partner()?.tradeName }}</p>
    <button mat-button class="btn-offer">Ver Detalhes</button>
  </div>
</div>
