
    <div class="input-wrapper" [class.disabled]="disabled" (click)="focusInput()">
      <span class="prefix" *ngIf="mode === 'FIXED'">R$</span>
      <input
        #inputElement
        type="text"
        inputmode="numeric"
        class="custom-input"
        [value]="displayValue"
        (keydown)="onKeyDown($event)"
        (paste)="$event.preventDefault()"
        [disabled]="disabled"
        (blur)="onTouched()"
      />
      <span class="suffix" *ngIf="mode === 'PERCENTAGE'">%</span>
    </div>
  
